html {
  background-color: #fff;
  color: #000;
}

.intro-slide {
}

/* Navigation Bar CSS */
.nav-bar {
  font-weight: bold;
  padding-top: 35px;
  padding-left: 50px;
  padding-right: 50px;
}

.logo {
  float: left;
}

.tabs {
  float: right;
  font-size: 15px;
  word-spacing: 30px
}

/* Sections */
.about {
  
}